<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiHuManBu.ManagerPlatform.Controllers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--短信中心-->
    <add key="SmsCenter" value="http://qa.sms.91bihu.me/smscenter.asmx" />
    <add key="SystemCrmUrl" value="http://qa.a.91bihu.me" />
    <add key="SysTimes" value="1000" /><!--600000-->
    <add key="IsTest" value="1" /><!--是否测试1是0否-->
    <!--是否推送消息:默认false-->
    <add key="IsPush" value="false" />
    <!--是否测试1是0否-->
  </appSettings>
  <connectionStrings>
    <add name="EntityContext" connectionString="metadata=res://*/BiHuManBu.csdl|res://*/BiHuManBu.ssdl|res://*/BiHuManBu.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.5.17;user id=bihu;password=123456;persistsecurityinfo=True;database=bihumanbu_qa&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--日志配置节点-->
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="ERRORRollingFileAppender" />
      <level value="INFO" />
      <appender-ref ref="INFORollingFileAppender" />
    </root>
    <appender name="ERRORRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="ERROR">
      <param name="File" value="log/Error.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="200KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>
    <appender name="INFORollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="INFO">
      <param name="File" value="log/Info.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="200KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Info" />
      </filter>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>