<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--报价接口 测试-->
    <add key="BaoJiaJieKou" value="http://qa.interfaces.com/"/>
    <!--前20个顶级代理人-->
    <add key="PreAgent" value="20"/>
    <!--每个顶级代理人前5行数据-->
    <add key="PreRow" value="5"/>
    <!--睡眠开始（小时部分）,包含-->
    <add key="startTime" value="0"/>
    <!--睡眠结束（小时部分）,包含-->
    <add key="endTime" value="5"/>
  </appSettings>
  <connectionStrings>
    <!--测试-->
    <add name="conn" connectionString="Server=192.168.5.17;Database=BIHUMANBU_dev; User=bihu;Password=123456;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;AllowUserVariables=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient"/>
    <!--线上-->
    <!--<add name="conn" connectionString="Server=192.168.5.17;Database=BIHUMANBU; User=bihu;Password=123456;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;AllowUserVariables=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <!--日志配置节点-->
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ERRORRollingFileAppender"/>
      <level value="INFO"/>
      <appender-ref ref="INFORollingFileAppender"/>
      <level value="DEBUG"/>
      <appender-ref ref="DEBUGRollingFileAppender"/>
    </root>
    <appender name="ERRORRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="ERROR">
      <param name="File" value="log/Error.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="2000KB"/>
      <maxSizeRollBackups value="24"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error"/>
        <param name="LevelMax" value="Error"/>
      </filter>
    </appender>
    <appender name="INFORollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="INFO">
      <param name="File" value="log/Info.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="2000KB"/>
      <maxSizeRollBackups value="24"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info"/>
        <param name="LevelMax" value="Info"/>
      </filter>
    </appender>
    <appender name="DEBUGRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="DEBUG">
      <param name="File" value="log/Debug.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="2000KB"/>
      <maxSizeRollBackups value="24"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug"/>
        <param name="LevelMax" value="Debug"/>
      </filter>
    </appender>

  </log4net>
</configuration>