<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="CacheMakerServiceDemo.RedisOperator.RedisConfig,CacheMakerServiceDemo" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="10000" MaxReadPoolSize="10000" AutoStart="true" LocalCacheTime="1" RecordeLog="true">
  </RedisConfig>
  <connectionStrings>
    <add name="EntityContext" connectionString="metadata=res://*/BiHuManBu.csdl|res://*/BiHuManBu.ssdl|res://*/BiHuManBu.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.5.17;user id=bihu;password=123456;persistsecurityinfo=True;database=bihumanbu_qa&quot;" providerName="System.Data.EntityClient" />
    <add name="zb" connectionString="Server=192.168.5.17;Database=BIHUMANBU_QA; User=bihu;Password=123456;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;AllowUserVariables=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>