<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--短信账号-->
  <add key="SmsAccount" value="bihusms"/>
  <!--短信密码-->
  <add key="SmsPassword" value="0186d62ebdc2733d908a796e7566d916"/>
  <!--短信中心-->
  <add key="SmsCenter" value="http://qa.sms.91bihu.me/smscenter.asmx"/>
  <!--短信中心发送短信方法名-->
  <add key="SmsCenterSendSmsMethod" value="SubmitSms"/>
  <!--图片站点-->
  <add key="ImageServer" value="http://dev.image.91bihu.com"/>
  <add key="Resource" value="http://192.168.1.17:8001/"/>
  <!--app密钥-->
  <add key="SecretKey" value="91bihu1018lingxiu2015xinguigu0aA"/>
  <!--天气预报接口地址-->
  <add key="WeatherApiAddr" value="http://apistore.baidu.com/microservice/weather"/>
  <!--尾号限行-->
  <add key="TailNumber" value="不限行,2和7,3和8,4和9,5和0,1和6,不限行"/>
  <add key="PageSize" value="25"/>
  <add key="OrderMaxNum" value="20"/>
  <!--接口-->
  <add key="OrderCenter" value="http://t.order.servercenter.91bihu.com/"/>
  <add key="OrderCenterMe" value="http://t.order.servercenter.91bihu.com/"/>
  <add key="GoodsCenter" value="http://qa.gcenter.91bihu.me/"/>

  <add key="UserCenter" value="http://192.168.3.12:8060/"/>
  <add key="BaoxianCenter" value="http://192.168.3.12:8087/"/>

  <!--<add key="UserCenter" value="http://ucenter.91bihu.me/"/>
  <add key="BaoxianCenter" value="http://bxcenter.91bihu.me/"/>-->

  <!--测试环境-->
  <!--<add key="UserCenter" value="http://qa.ucenter.91bihu.me/"/>
  <add key="BaoxianCenter" value="http://qa.bxcenter.91bihu.me/"/>-->

  <add key="AuthUrl" value="/Account/Login" />
  <add key="AuthSaveKey" value="Account" />
  <add key="AuthSaveType" value="Session" />

  <!--微信相关 begin-->
  <add key="WeixinToken" value="1q2w3e91BIHU"/>
  <add key="WeixinEncodingAESKey" value="R6rCJnmUp7cxCqszyySkzga2M2w3qSnNFfrJ8cjXIxC"/>

  <add key="WeixinAppId" value="wxae29545104ff81fb"/>
  <add key="WeixinAppSecret" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>

  <add key="WeixinAgentUrl" value="外部代理Url"/>
  <add key="WeixinAgentToken" value="外部代理Token"/>
  <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey"/>

  <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
  <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
  <add key="WeixinPay_Key" value="R6rCJnmUp7cxCqszyySkzga2M2w3qSnNFfrJ8cjXIxC"/>
  <add key="WeixinPay_AppId" value="wxae29545104ff81fb"/>
  <add key="WeixinPay_AppKey" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>
  <add key="WeixinPay_TenpayNotify" value="http://waptest.91bihu.com/Cart/WeiXin/PayNotifyUrl"/>

  <add key="TenPayV3_MchId" value="1228646702"/>
  <add key="TenPayV3_Key" value="4afed1b0d966be6e902c412efe837e2a"/>
  <add key="TenPayV3_AppId" value="wxae29545104ff81fb"/>
  <add key="TenPayV3_AppSecret" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>
  <add key="TenPayV3_TenpayNotify" value="http://waptest.91bihu.com/Cart/WeiXin/PayNotifyUrl"/>

  <add key="OAuthApi" value="http://m.91bihu.com"/>

  <add key="MessageCenter" value="http://qa.mcenter.91bihu.me/messagecenter.asmx" />
  <add key="BxBaoJiaOrHeBaoName" value="bxquote" />
  <add key="BxXuBaoName" value="bx_renewal" />
  <add key="BxBalance" value="bx_balance" />
  <add key="BjdMobile" value="bx_mobilequote" />

  <!--app嵌套页面-->
  <add key="mhoust" value="wap.91bihu.com"/>
  <!--<add key="CarInsuranceGetSubmitInfo"  value="http://i.91bihu.com/api/CarInsurance/GetSubmitInfo?licenseno={0}&intentioncompany={1}&agent={2}&seccode={3}&custkey={4}" />
  <add key="CarInsuranceGetPriceInfo"  value="http://i.91bihu.com/api/CarInsurance/GetPrecisePrice?licenseno={0}&intentioncompany={1}&agent={2}&seccode={3}&custkey={4}" />-->
  <add key="ImageServer" value="http://dev.image.91bihu.com"/>
  <add key="ImageUpload" value="http://dev.upload.91bihu.me"/>
</appSettings>