<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  
  <connectionStrings>
    <add name="healthMonitorConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=aspnetdb;Data Source=(local)" />
    <add name="zhuba_rw" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=zhuba;Data Source=." />
    <add name="zb" connectionString="Server=192.168.5.17;Database=BIHUMANBU_QA; User=bihu;Password=123456;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;AllowUserVariables=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient" />

    <!--<add name="zb" connectionString="Server=192.168.5.17;Database=BIHUMANBU; User=root;Password=1379@$^*);Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient" />-->

    <add name="sb" connectionString="Server=192.168.5.17;Database=memcache; User=bihu;Password=123456;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;AllowUserVariables=True; Pooling=false; Max Pool Size=50; " providerName="System.Data.EntityClient" />
    <add name="EntityContext" connectionString="metadata=res://*/BiHuManBu.csdl|res://*/BiHuManBu.ssdl|res://*/BiHuManBu.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.5.17;user id=bihu;password=123456;persistsecurityinfo=True;database=bihumanbu_qa&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="EntityContext" connectionString="metadata=res://*/BiHuManBu.csdl|res://*/BiHuManBu.ssdl|res://*/BiHuManBu.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.105;user id=root;password=1379@$^*);persistsecurityinfo=True;database=bihumanbu&quot;" providerName="System.Data.EntityClient" />-->
    <!--数据库连接字符串-->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>